<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In Page.</h1>

    <form action="." method="post">
        {% csrf_token %}

        
        <div class="mb-3 font-semibold ">
            
            {{ form.username }}
              
        </div>
        
        <div class="mb-3 font-semibold">
            
              {{ form.password1 }}
        </div>
        

        {% if form.errors or form.non_fields_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {%  for field in form %}
                   {{ field.errors }}
                {% endfor %}   

                {{ form.non_field_errors }}
            </div>
        {% endif %}

        <button type="submit" class="mt-6 py-4 px-8 text-lg text-center justify-center bg-teal-600 hover:bg-teal-950 rounded-xl font-semibold ml-36 text-white">Submit</button>
    </form>
</body>
</html>