<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <title>Sign In</title>
</head>
<body>
    <h1>Sign In Page.</h1>

    <form action="." method="post">
       {% csrf_token %}
       {{ form.p_as }}

        <button type="submit" class="mt-6 py-4 px-8 text-lg text-center justify-center bg-teal-600 hover:bg-teal-950 rounded-xl font-semibold ml-36 text-white">Submit</button>
    </form>
</body>
</html>