<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign up Page.</h1>

    <form action="." method="post">
        {% csrf_token %}

        {{ form.p_as }}

        <button type="submit" class="mt-6 py-4 px-8 text-lg text-center justify-center bg-teal-600 hover:bg-teal-950 rounded-xl font-semibold ml-36 text-white">Submit</button>
    </form>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>